{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <ul>
    <li>{{profil.codeUser}}</li>
    <li>{{profil.tickets}}</li>
    <li><button href="">Changer mon Code PIN<button/></li> 
    </ul>
{% endblock %}